{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>What does this project do?</h1>

     <p>Our website will help people understand the COVID risk if they attend a BLM protest
         while also giving tips for safely if attending protests. </p>

       <h1>How does this project use AI?</h1>

     <p>This hack weighs different COVID factors and their risk
         to produce a risk prediction value. </p>
   </div>
{% endblock %}






<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>About BLM x COVID</title>-->
<!--</head>-->
<!--<body>-->

<!--<div class="about">-->
<!--    <h1>What does this project do?</h1>-->

<!--    <p>Our website will help people understand the COVID risk if they attend a BLM protest while-->
<!--        also giving tips for safely while protesting during this time.-->
<!--    </p>-->

<!--    <h1>How does this project use AI?</h1>-->

<!--    <p> This hack weighs different COVID factors and their risk-->
<!--        to produce a risk prediction value.-->
<!--    </p>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->